*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body{
    background-color: rgb(20, 92, 68);
    background-image: url(https://cdn.pixabay.com/photo/2016/05/05/02/37/sunset-1373171__480.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

a:hover{
    color: coral;
}

/*HEADER*/

header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
   width: 100%; 
   height: 60px;
   max-width: 1200px;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: coral;
    color:white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.action_btn:hover{
    scale: 1.05;
    color: black;
}

/*DROPDOWN_MENU*/
.dropdown_menu{
    display: none;
    position: absolute;
    right:2rem;
    top:60px;
    width:300px;
    background: rgba(225, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow:hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.dropdown_menu li{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}


.container{
    display: grid;
    gap:15px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.box{
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: azure;
    box-shadow: 0px  5px 10px rgba(0, 0, 0, 0.2);
}
.box img{
    height: 70px;
}

.box h3{
    color: #444;
    padding: 10px 0;
    font-size:20px;
}

.box p{
    color:#777;
    font-size: 14px;
    line-height: 1.6;
}
 .btn{
    color: bisque;
    border: none;
    outline: none;
    font-size: 17px;
    margin-top: 10px;
    padding: 0px 15px;
    background: #333;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
 }

 .btn:hover{
    letter-spacing: 1px;
 }

 .btn:hover{
    transform: scale(1.03);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
 }

 @media(max-width:1000px){

 }















/*REPONSIVE DESIGN*/

@media(max-width: 992px){
 
    
    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: none;
    }
}

@media (max-width:761px){
    .dropdown_menu{
        display: block;
        position: relative;
        margin-left: 50px;
        z-index: 200;
        top:-6px;
        width:auto;
    }
   
    .toggle_btn{
        position: absolute;
        left:720px;
    }
     
    .action_btn,
    .links a{
       display: none ; 
       justify-content: center;
       align-items: center;
       width:-200px;
    }

   .action_btn:hover{
         color:black;
   }


}

@media (max-width:404px){
    .dropdown_menu {
      display: block;
      position: absolute;
      right: 30px;
    }

    .toggle_btn{
        position: absolute;
        right:-400px;
    }
}

